.uploadshare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    max-width: 1280px;
    background-color: white;
}

.us_header {
    text-align: center;
    margin-bottom: 50px;
}
.us_header > h2 {
    font-size: 40px;
}
.us_header p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

.us_container {
    background-image: url(/assets/usbg.png);
    background-size: cover;
    width: 100%;
    height: 75vh;
}

.uploadBg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}